#icon {
    position: absolute;
    left: 760px;
    top: 215px;
}

#user {
    position: absolute;
    top:395px;
}

#pass {
    position: absolute;
    top:455px;
}

#rectangle {
    position: absolute;
    top: 185px;
    left: 705px;
    width: 450px;
    height: 410px;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}

#background {
    position: absolute;
    top: -10px;
    left: -10px; 
    z-index: -2;
}

input[type=text], select {
    left: 750px;
    font-size: 20px;
    width: 350px;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    position: absolute;
    top: 515px;
    left: 750px;
    font-size: 20px;
    width: 350px;
    color: white;
    padding: 10px 15px ;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(20, 27, 100);
}

input[type=submit]:hover {
    background-color: darkblue;
}
