body {
    background-color: lightskyblue;
}

#element1 {display:inline-block;margin-left:-10px;} 
#element1 {display:inline-block;margin-top:-10px;}

input[type=text], select {
    position: relative;
    font-size: 18px;
    left: 1350px;
    bottom: 575px;
    width: 350px;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    position: relative;
    font-size: 19px;
    left: 1350px;
    bottom: 575px;
    width: 350px;
    background-color: lightskyblue;
    color: white;
    padding: 10px 15px ;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(50, 169, 243);
}

.round {
    background-color: white;
    width: 450px;
    height: 575px;
    border-radius: 10px;
    position: absolute;
    z-index: -5;
    left: 1307px;
    bottom: 195px;
}

.icon {
    position: absolute;
    right: 150px;
    bottom: 540px; 
}