#icon {
    position: absolute;
    left: 760px;
    top: 215px;
}

#checking {
    position: absolute;
    top: 400px;
    left: 750px;
}

#savings {
    position: absolute;
    top: 467px;
    left: 750px;
}

#rectangle {
    position: absolute;
    top: 185px;
    left: 705px;
    width: 450px;
    height: 365px;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
}

#background {
    position: absolute;
    top: -10px;
    left: -10px; 
    z-index: -2;
}

input[type=submit] {
    font-size: 20px;
    width: 350px;
    color: white;
    padding: 10px 15px ;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(20, 27, 100);
}

input[type=submit]:hover {
    background-color: darkblue;
}